body{
    background-color: #212121;
    color: white;
}

.movie-details{
    padding-top: 10px;
    background: linear-gradient(to bottom, #6dd5fa, #2980b9);
    margin: auto;
    padding-bottom: 10px;
    width: 50%;
    border-radius: 10px;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 5px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 5px 10px 5px 10px;
}

.search-input {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 20px 0 0 20px;
    width:100%;
    font-size: 16px;
}

.search-button {
    border: none;
    background: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 0 20px 20px 0;
}

.search-button img {
    width: 20px;
    height: 20px;
}

.movie-container {
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    /* width: 50%; */
    margin: auto;
    justify-content: space-between;
}

.movie-poster {
    width: 100%;
    border-radius: 8px;
    margin-top: 10px;
}

.movie-info {
    margin-top: 15px;
    text-align: center;
}

.movie-title {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.movie-year {
    font-size: 16px;
    color: white;
    margin: 5px 0 0 0;
}


#more-details{
    background: linear-gradient(to bottom, #6dd5fa, #2980b9);
    border: none;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.view-additional-details{
    width: 80%;
    margin: auto;
}
