/* styles.css */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #6dd5fa, #2980b9);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.weather-app {
    background-color: #212121;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.today-weather {
    margin-bottom: 20px;
    height: 300px;
    /* background-image: url('./src/clearWeatherImage.webp'); */
}

.week-forecast {
    background-color: #f1f1f1;
    padding: 15px;
    border-radius: 8px;
}

.forecast-list {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.forecast-list div {
    flex: 1;
    margin: 0 5px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.forecast-list div img {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
}


.search-container {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 5px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-input {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 20px 0 0 20px;
    width:100%;
    font-size: 16px;
}

.search-button {
    border: none;
    background: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 0 20px 20px 0;
}

.search-button img {
    width: 20px;
    height: 20px;
}

.temperature-info{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 10px;
    color: white;    

}
.areaDetail{
    color: white;
}

