body{
    background-color: #212121;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
h1{
    text-decoration:underline;
    font-size:x-large;
}
h1:hover{
   color: rgb(228, 69, 11);

}
.taskForm{
    width: 60%;
    margin: auto;
    border-radius: 10px;
}
input{
    border: none;
    padding: 5px 10px;
    width: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: black;
    color: white;
}
#sbt-btn{
    padding: 5px 18px;
    background-color: greenyellow;
    border: none;
    margin-left: 10px;
}
#sbt-btn:hover{
    background-color: rgb(214, 87, 18);
}
table{
    border: 1px solid white;

}
.displayTasks{
    width: 60%;
    margin: auto;

}
.displayTasks table {
    width: 100%;
    margin-top: 30px;
    border-collapse: collapse;
}

.displayTasks table tr, th, td{
    border: 1px solid white;
}

table tr>td{
    text-align: left;
}